html, body, div, span, a, li, ul, ol, img, p, dd, dt, dl, h1, h2, h3, h4, h5, h6, input, textarea, select, option {
  border: 0;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  overflow: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

li {
  list-style: none;
}

input, textarea {
  outline: none;
}